gitpython
datasets
jsonlines
torch
# transformers
# special transformers lib
git+https://github.com/huggingface/transformers@v4.49.0-Gemma-3
hf_transfer
accelerate>=0.26.0
notebook
jupyterlab

# uloth
accelerate 
bitsandbytes 
xformers 
peft 
sentencepiece 
protobuf 
datasets 
huggingface_hub 
hf_transfer 
trl 
triton
unsloth
ollama
